.param {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 10px 5px;
    box-sizing: border-box;
}

.param > * {
    cursor: ns-resize;
}

.param label {
    display: block;
    font-size: 11px;
    text-align: left;
    position: relative;
    left: -1px;
}

.param input {
    border: 0;
    width: 60px;
    height: 22px;
    font-size: 16px;
    text-align: center;
}
.param .input-container {
    margin: 0 5px;
    position: relative;
    top: -2px;
}

.param > canvas {
    position: relative;
}
