.volume-triangle {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    border: 8px solid transparent;
    border-right-color: black;
    border-right-width: 30px;
    border-left-width: 0px;
    height: 0px;
    margin-bottom: -2px;
    margin-left: 2px;
}

.volume-triangle.-background {
    opacity: 0.3;
}

.volume-triangle.-foreground {
    transform-origin: left;
}

.volume-triangle-container {
    position: relative;
    width: 20px;
}
